<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JinsMeme_WebAPI_Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <JinsMeme_WebAPI_Client.Properties.Settings>
            <setting name="Auth_ApplicationId" serializeAs="String">
                <value />
            </setting>
            <setting name="Auth_ApplicationSecret" serializeAs="String">
                <value />
            </setting>
            <setting name="Auth_EmailAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="Auth_Scope_office" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Auth_Scope_run" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Auth_Scope_drive" serializeAs="String">
                <value>False</value>
            </setting>
        </JinsMeme_WebAPI_Client.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>